In [75]:
!pip install pandas

Requirement already satisfied: pandas in /opt/homebrew/anaconda3/lib/python3.12/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/homebrew/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [76]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.model_selection import train_test_split

In [77]:
final_ratings_essential_columns = pd.read_csv('final_ratings_essential_columns.csv')

final_ratings_essential_columns.head(6)

   userId  movieId  final_rating
0       1       17           4.0
1       1       25           1.0
2       1       29           2.0
3       1       30           5.0
4       1       32           5.0
5       1       34           2.0

In [78]:
movies_subset = pd.read_csv('movies_subset.csv')

movies_subset.head(6)

,movieId,title,genres,year,title_processed
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy,1995,toystory
1,2,Jumanji,Adventure|Children|Fantasy,1995,jumanji
2,3,Grumpier Old Men,Comedy|Romance,1995,grumpieroldmen
3,4,Waiting to Exhale,Comedy|Drama|Romance,1995,waitingtoexhale
4,5,Father of the Bride Part II,Comedy,1995,fatherofthebridepartii
5,6,Heat,Action|Crime|Thriller,1995,heat

In [79]:
len(final_ratings_essential_columns)

32000204

In [80]:
unique_user_ids = final_ratings_essential_columns['userId'].unique()[:1000]
print(len(unique_user_ids))

subset_for_10k_users = final_ratings_essential_columns[
    final_ratings_essential_columns['userId'].isin(unique_user_ids)
]

1000

In [81]:
user_item_matrix = subset_for_10k_users.pivot(
    index='userId', 
    columns='movieId', 
    values='final_rating'
)

user_item_matrix_filled = user_item_matrix.fillna(0)

user_item_matrix_filled.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,288269,288279,288513,288529,289317,289727,289741,290263,290491,291485
userId,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [83]:
item_user_matrix = user_item_matrix_filled.T
similarity_matrix = cosine_similarity(item_user_matrix)

item_similarity_df = pd.DataFrame(
    similarity_matrix,
    index=item_user_matrix.index,
    columns=item_user_matrix.index
)

item_similarity_df

movieId,1,2,3,4,5,6,7,8,9,10,...,288269,288279,288513,288529,289317,289727,289741,290263,290491,291485
movieId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.415261,0.242388,0.166412,0.255273,0.382655,0.313967,0.079146,0.155190,0.373072,...,0.05043,0.063038,0.103843,0.063038,0.063038,0.05043,0.063038,0.063038,0.000000,0.050430
2,0.415261,1.000000,0.232427,0.101402,0.205120,0.246545,0.244091,0.201875,0.075579,0.371201,...,0.00000,0.099396,0.060197,0.099396,0.099396,0.00000,0.099396,0.099396,0.000000,0.074547
3,0.242388,0.232427,1.000000,0.213303,0.489765,0.245319,0.435499,0.148904,0.284453,0.267348,...,0.00000,0.000000,0.083729,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.172814
4,0.166412,0.101402,0.213303,1.000000,0.236181,0.105874,0.185476,0.000000,0.108163,0.132966,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
5,0.255273,0.205120,0.489765,0.236181,1.000000,0.279706,0.442794,0.121879,0.280551,0.192191,...,0.00000,0.000000,0.039162,0.000000,0.000000,0.00000,0.000000,0.000000,0.121243,0.080829
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289727,0.050430,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,1.00000,0.000000,0.000000,0.000000,0.000000
289741,0.063038,0.099396,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.095110,...,0.00000,1.000000,0.000000,1.000000,1.000000,0.00000,1.000000,1.000000,0.000000,0.000000
290263,0.063038,0.099396,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.095110,...,0.00000,1.000000,0.000000,1.000000,1.000000,0.00000,1.000000,1.000000,0.000000,0.000000
290491,0.000000,0.000000,0.000000,0.000000,0.121243,0.101036,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,1.000000,0.000000
291485,0.050430,0.074547,0.172814,0.000000,0.080829,0.040414,0.096461,0.369274,0.000000,0.071333,...,0.00000,0.000000,0.484502,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000

In [84]:
def get_recommendations_item_based(
    target_user_id,
    user_item_matrix, 
    item_similarity_df,
    top_n=5
):
    user_ratings = user_item_matrix.loc[target_user_id]
    already_seen = user_ratings[user_ratings > 0].index  # movieId
    
    candidates_scores = {}
    for movie_id in already_seen:
        sim_row = item_similarity_df.loc[movie_id]  
        most_similar = sim_row.drop(movie_id).sort_values(ascending=False).head(50)
        
        rating_for_this_movie = user_ratings[movie_id]
        for candidate_id, sim_score in most_similar.items():
            if candidate_id not in candidates_scores:
                candidates_scores[candidate_id] = 0
            candidates_scores[candidate_id] += sim_score * rating_for_this_movie
    
    sorted_candidates = sorted(candidates_scores.items(), key=lambda x: x[1], reverse=True)
    return sorted_candidates[:top_n]  # (movie_id, score)

In [85]:
target_user = 5
recommendations_amount = 7

recommendations = get_recommendations_item_based(target_user, user_item_matrix_filled, item_similarity_df, recommendations_amount)

# print("recommendations: ", recommendations)

print(f"Top {recommendations_amount}, recommendations for user with id {target_user}")

movie_list = []

for (movie_id, score) in recommendations:
    movie_data = movies_subset.loc[movie_id]
    movie_list.append({
        "Index": movie_id,
        "Score": score,
        "Movie ID": movie_data.movieId,
        "Year": movie_data.year,
        "Title": movie_data.title,
        "Genres": movie_data.genres
    })

recommendations_df = pd.DataFrame(movie_list)

recommendations_df

Top 7, recommendations for user with id 5

,Index,Score,Movie ID,Year,Title,Genres
0,377,61.658759,701,1992,Daens,Drama
1,457,60.624216,891,1995,Halloween: The Curse of Michael Myers,Horror|Thriller
2,592,59.375364,1191,1991,Madonna: Truth or Dare,Documentary|Musical
3,150,58.457614,254,1995,Jefferson in Paris,Drama
4,380,56.962554,706,1996,Sunset Park,Drama
5,590,56.756874,1187,1992,Passion Fish,Drama
6,480,56.502081,938,1958,Gigi,Musical

In [108]:
def get_liked_movies(df_ratings, threshold=4.0):
    liked_movies = (
        df_ratings[df_ratings['final_rating'] >= threshold]
        .groupby('userId')['movieId']
        .apply(set)
        .to_dict()
    )
    return liked_movies

def get_rated_movies(df_ratings, user_id):
    return set(df_ratings[df_ratings['userId'] == user_id]['movieId'])

from tqdm import tqdm

def precision_at_k(
    df_ratings, 
    user_item_matrix,
    item_similarity_df,
    movies_df,
    k=10,
    threshold=4.0
):
    liked_movies_dict = get_liked_movies(df_ratings, threshold=threshold)    
    precision_values = []
    
    for user_id, liked_set in tqdm(liked_movies_dict.items(), desc="Evaluating users"):
        if len(liked_set) == 0:
            continue

        reco_list = get_recommendations_item_based(
            target_user_id=user_id,
            user_item_matrix=user_item_matrix, 
            item_similarity_df=item_similarity_df,
            top_n=k
        )
        
        recommended_ids = [t[0] for t in reco_list]
        relevant_count = sum(1 for r in recommended_ids if r in liked_set)
        
        denominator = k
        
        if denominator > 0:
            precision = relevant_count / denominator
            precision_values.append(precision)
        else:
            continue
    
    if len(precision_values) > 0:
        return np.mean(precision_values)
    else:
        return 0.0

In [112]:
score_3 = precision_at_k(
    df_ratings=subset_for_10k_users,
    user_item_matrix=user_item_matrix_filled, 
    item_similarity_df=item_similarity_df,
    movies_df=movies_subset,
    k=10,
    threshold=3.0
)

print(f"Mean Precision With Treshold 3 = {score_3:.4f}")

Evaluating users: 100%|█████████████████████████████████████████████████████████████████| 1000/1000 [02:20<00:00,  7.12it/s]

Mean Precision With Treshold 3 = 0.5842

In [114]:
score_4 = precision_at_k(
    df_ratings=subset_for_10k_users,
    user_item_matrix=user_item_matrix_filled, 
    item_similarity_df=item_similarity_df,
    movies_df=movies_subset,
    k=10,
    threshold=4.0
)

print(f"Mean Precision With Treshold 4 = {score_4:.4f}")

Evaluating users: 100%|█████████████████████████████████████████████████████████████████| 1000/1000 [02:09<00:00,  7.70it/s]

Mean Precision With Treshold 4 = 0.4601